<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inti.bayviewhotel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".KitchenUpdateItem"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:parentActivityName=".KitchenItemList" />
        <activity
            android:name=".KitchenAddItem"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:label="Add Item"
            android:parentActivityName=".KitchenItemList" />
        <activity
            android:name=".KitchenItemList"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:label="Bayview Hotel Kitchen&apos;s Item List"
            android:parentActivityName=".KitchenItemList"/>

        <activity android:name=".KitchenPortal"
            android:label="Bayview Hotel Kitchen">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".PortalActivity" />
        <activity
            android:name=".RegisterUsers"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.inti.bayviewhotel.ForgotPassword">
            android:screenOrientation="portrait"
        </activity>

    </application>

</manifest>